<!DOCTYPE html>
<html>
  <%- include("./head.ejs"); %>
  <body>
    <main>
        <%- include("./header.ejs"); %>
      <dialog>
      </dialog>
      <h1><%= folder.name %></h1>
      <table>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Created At</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
      <% if (files.length) { %>
        <% files.forEach(function(file) { %>
          <tr>
            <th scope="row"><a href="/files/<%= file.name %>"><%= file.name %></a></th>
            <td><%= file.created_at %></td>
            <td>
              <button popovertarget="<%= file.name %>" class="showOptions">:</button>
              <div popover id="<%= file.name %>" class="options">
                <ul>
                  <li><a href="#">Delete</a></li>
                  <li><a href="#">Download</a></li>
              <div>

            </td>
          </tr>
        <% }) %>
      <% } else { %>
        <p>Theres no files!</p>
        <a class="btn-green"  href="/files/new">Create a File</a>
      <% } %>
      </tbody>>
      </table>
    </main>
    <script src="/scripts/files.js" type="module"></script>
  </body>
</html>
